body{
    background-color: rgb(12, 12, 46);
}
#arabian-horse{
    float: right;
}
#turkoman-horse{
    float: left;
}
.second_turkoman{
    position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: center;
}