.heading-temp, .temperature-explanation{
    color: black;
    text-align: center;
    font-family: arial;
}
.celcius-farenheit{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    flex-direction: row;
    width: 10%;
}
.celcius_to_farenheit input, .farenheit_to_celcius input, .celcius_to_kelvin input{
    border-radius: 10px;
}
#display-conversion{
    text-align: center;
    margin-top: 2cm;    
    font-family: Arial;
    font-weight: bold;
    color: rgb(42, 42, 77);
}
.celcius-farenheit label, .farenheit_to_celcius label, .celcius_to_kelvin label{
    font-family: arial;
    font-weight: bold;
}
#submit-button, #submit-button-2, #submit-button-3 {
    padding: 15px;
    margin-top: 1cm;
    border-radius: 10px;
    background-color: rgb(48, 44, 67);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#submit-button:focus, #submit-button-2:focus, #submit-button-3:focus{
    border: 2px solid rgb(58, 58, 192);
}